# SpecStory explanation file
.specstory/.what-is-this.md
.specstory
./env.ts
./hono-sam/hello-world/node_modules
./hono-sam/hello-world/.env
./hono-sam/hello-world/.env.local
./hono-sam/hello-world/.env.development
./hono-sam/hello-world/.env.production

